:root {
    --texto-branco: #fafafa;
    --texto: #171717;
    --texto-secun: #666;
    --background: #324632;
    --azul-claro: #B0E2FF;
    --azul: #3A5FCD;
    --verde-claro: #D7ECD7;
    --preto: #1C1C1C;
    --vermelho: #FF383C;
    --verde: #B4EEB4;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif
}

body {
    background-color: var(--background);
}
