:root {
    --texto-branco: #fafafa;
    --texto: #171717;
    --texto-secun: #666;
    --background: #ECFDF5;
    --azul-claro: #B0E2FF;
    --azul: #3A5FCD;
    --verde-claro: #D7ECD7;
    --preto: #1C1C1C;
    --vermelho: #FF383C;
    --verde: #009689;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif
}

body {
    background-color: var(--background);
}

header nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 55px;
    background-color: var(--verde);
}

.logo a {
    font-weight: 700;
    color: var(--texto);
    text-decoration: none;
    font-size: 24px;
    padding: 8px 12px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 18px;
    align-items: center;
}

.nav-links li a {
    color: var(--texto);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 6px;
}

.nav-links li a:hover {
    background: rgba(0, 0, 0, 0.05);
}

.text-center {
    text-align: center;
    padding-top: 50px;
}

.text-center {
    background-image: url('https://images.unsplash.com/photo-1763976328106-2711fd81f686?w=1920');
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 500px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center img {
    display: none; 
}

.text-content {
    text-align: center;
    color: white;
    z-index: 1;
    position: relative;
}

.learn-item {
    background: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.12);
    text-align: center;
    transition: 0.2s;

}

.learn-item:hover {
    transform: scale(1.03);
}

.learn-item img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.learn-item h3 {
    color: #00795c;
    margin-bottom: 10px;
}

.learn-item p {
    font-size: 15px;
    color: #003125;
}


.learn-grid {
    display: grid;
    gap: 40px;
    padding: 20px;
    grid-template-columns: 1fr;
    justify-items: center;
}

@media (min-width: 750px) {
    .learn-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
