.section {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    font-size: 30px;
}

.titulo {
    margin: 10px;
}

.p-size {
    font-size: 20px;
}

.header {
    margin: 50px auto;
    text-align: center;
    color: #ffffff
}

body {
    margin: 0px;
}

.tamanho {
    min-height: 600px;
    overflow-y: auto;
    background-color: #064e3b;  
}

.caixa-gradiente {
    background: linear-gradient(to right, #10b981, #14b8a6);
    border-radius: 15px;
    padding: 30px;
    max-width: 1180px;
    margin: 50px auto;
}

.span {
    font-size: 15px;
    background: #fff3;
    border: 1px solid #ffffff;
    border-radius: 99999px;
    padding: 12px; 
}

.padding-span {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 15px;
}